<h1>Edit Figure: <%=@figure.name%></h1>

<form action='/figures/<%=@figure.id%>' method="POST">
  <input type="hidden" name="_method" value="PATCH">

  <strong><label for="figure_name">Name: </label></strong>
    <input type="text" id="figure_name" name="figure[name]" value="<%=@figure.name%>">
      <br></br>
        <br>

  <label><strong>Edit Titles: </strong></label><br><br>
    <% Title.all.each do |title| %>
      <label><%= title.name %></label>
      <input type="checkbox" id="<%= title.name %>" name="figure[title_ids][]" value="<%= title.id %>" <%='checked' if @figure.titles.include?(title)%>><br>
    <% end %>
      <br>

  <label><strong>Add a New Title: </strong></label>
    <input type="text" id="new_title" name="title[name]">
      <br></br>
        <br>

  <label><strong>Edit Landmarks: </strong></label><br><br>
    <% Landmark.all.each do |landmark| %>
      <label><%= landmark.name %></label>
      <input type="checkbox" id="<%= landmark.name %>" name="figure[landmark_ids][]" value="<%= landmark.id %>" <%='checked' if @figure.landmarks.include?(landmark)%>><br>
    <% end %>
      <br>

  <label><strong>Add New Landmark: </strong></label><br><br>
    <label>Name: </label>
      <input type="text" id="new_landmark" name="landmark[name]">
    <label>Year Completed:</label>
      <input type="text" id="landmark_year_completed" name="landmark[year_completed]">
        <br></br>
          <br>

  <input type="submit" value="Edit Figure">
</form>
