<h1>Create a New Figure: </h1>

<form action='/figures' method="POST">
  <strong><label for="figure_name">Name: </label></strong>
    <input type="text" id="figure_name" name="figure[name]">
      <br></br>
        <br>

  <label><strong>Choose From an Existing Title: </strong></label><br><br>
    <% Title.all.each do |title| %>
      <label><%= title.name %></label>
      <input type="checkbox" id="title_<%= title.id %>" name="figure[title_ids][]" value="<%= title.id %>"><br>
    <% end %>
      <br>

  <label><strong>Create a New Title: </strong></label>
    <input type="text" id="new_title" name="title[name]">
      <br></br>
        <br>

  <label><strong>Choose From an Existing Landmark: </strong></label><br><br>
    <% Landmark.all.each do |landmark| %>
      <label><%= landmark.name %></label>
      <input type="checkbox" id="landmark_<%= landmark.id %>" name="figure[landmark_ids][]" value="<%= landmark.id %>"><br>
    <% end %>
      <br>

  <label><strong>Create a New Landmark: </strong></label><br><br>
    <label>Name: </label>
      <input type="text" id="new_landmark" name="landmark[name]">
    <label>Year Completed:</label>
      <input type="text" id="landmark_year_completed" name="landmark[year_completed]">
        <br></br>
          <br>

  <input type="submit" value="Create New Figure">
</form>
